[Unit]
Description=Gunicorn instance to serve pyisru
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/pyisru
Environment="PATH=/home/ubuntu/pyisru/venv/bin"
ExecStart=/home/ubuntu/pyisru/venv/bin/gunicorn --workers 3 --bind unix:/home/ubuntu/pyisru/pyisru.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
