<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1><a href="{{ url_for('index') }}">Weapons Grade Bolognium</a></h1>
        <p class="subtitle"><a href="{{ url_for('index') }}">by Mathew Kirby</a></p>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
